# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executabless
*.exe
*.out
*.app

# Aux. folders
.vs/
**/BasicGUI/x64/
**/Framework/x64/

**/x64/
**/temp/